<%- include("../partials/header") %>

	<div class="container">
		<header class="jumbotron">
			<h1>
			View Your Notebooks!
			</h1>
			<p>
				Keep track of your projects and meetings using Notebooks! Create daily logs, write notes, upload files, images and more!
			</p>
			<p>
				<a class="btn btn-primary btn-lg" href="notebooks/new">Create a Notebook</a>
			</p>
		</header>
	</div>


	<div class="row" style="display:flex; flex-wrap:wrap">
		<% notebooks.forEach(function(notebook){%>
		<%if(currentUser && notebook.author.id.equals(currentUser._id)){ %>
		<div class="col-md-3 col-sm-6 text-center">
			<div class="thumbnail">
				<img src="<%= notebook.image %>">
				<div class="caption text-center">
					<h4><%= notebook.name%></h4>
				</div>
				<p>
					<a href="/notebooks/<%=notebook._id%>" class="btn btn-primary">More Info</a>
				</p>
			</div>
		</div>
		<%}%>
		<% }); %>
	</div>	

<%- include("../partials/footer") %>