<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Resume</title>
		<link type="text/css" rel="stylesheet" href="/stylesheets/green.css" />
		<link type="text/css" rel="stylesheet" href="/stylesheets/print.css" media="print"/>
		<script type="text/javascript" src="jscripts/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="jscripts/jquery.tipsy.js"></script>
		<script type="text/javascript" src="jscripts/cufon.yui.js"></script>
		<script type="text/javascript" src="jscripts/scrollTo.js"></script>
		<script type="text/javascript" src="jscripts/myriad.js"></script>
		<script type="text/javascript" src="jscripts/jquery.colorbox.js"></script>
		<script type="text/javascript" src="jscripts/custom.js"></script>
		<script type="text/javascript">
				Cufon.replace('h1,h2');
		</script>
	</head>
	<body>
		<div class="social">
			<ul>
				<li><a class='north' href="javascript:window.print()" title="Print"><img src="images/icn-print.jpg" alt="" /></a></li>
				<li><a href="/notebooks" id="backbtn" title="Back to Notebooks">Notebooks</a></li>
				<li><a href="/profile/<%=user.id%>/edit" id="editbtn" title="Edit Resume">Edit</a></li>
			</ul>
		</div>
	<!-- Begin Wrapper -->
	<div id="wrapper">
	  <div class="wrapper-top"></div>
	  <div class="wrapper-mid">
		<!-- Begin Paper -->
		<div id="paper">
		  <div class="paper-top"></div>
		  <div id="paper-mid">
			<div class="entry">
			  <!-- Begin Image -->
			  <img class="portrait" src="<%=user.picture%>" alt="John Smith" />
			  <!-- End Image -->
			  <!-- Begin Personal Information -->
			  <div class="self">
				<h1><%=user.firstName + " " + user.lastName %><br><br></h1>
				  <h1><span><%=user.designation%></span></h1>
				<ul>
				  <li class="ad"><%=user.address%></li>
				  <li class="mail"><%=user.email%></li>
				  <li class="tel"><%=user.mobileno%></li>
				</ul>
			  </div>
			</div>
			<div class="entry">
			  <h2>OBJECTIVE</h2>
			  <p><%=user.objective%></p>
			</div>
			<div class="entry">
			  <h2>EDUCATION</h2>
			  <div class="content">
				<h3><%=user.education1.startDate%> - <%=user.education1.endDate%></h3>
				<p><%=user.education1.uniName%><br />
				  <em><%=user.education1.courseName%></em></p>
			  </div>
			  <div class="content">
				<h3><%=user.education2.startDate%> - <%=user.education2.endDate%></h3>
				<p><%=user.education2.uniName%><br />
				  <em><%=user.education2.courseName%></em></p>
			  </div>
			</div>
			<div class="entry">
			  <h2>EXPERIENCE</h2>
			  <div class="content">
				<h3><%=user.experience1.startDate%> - <%=user.experience1.endDate%></h3>
				<p><%=user.experience1.organisation%><br />
				  <em><%=user.experience1.designation%></em></p>
			  </div>
			  <div class="content">
				<h3><%=user.experience2.startDate%> - <%=user.experience2.endDate%></h3>
				<p><%=user.experience2.organisation%><br />
				  <em><%=user.experience2.designation%></em></p>
			  </div>
			</div>
			<div class="entry">
			  <h2>SKILLS</h2>
			  <div class="content">
				<h3></h3>
				<ul class="skills">
					<% var count = 0 %>
					<% Object.keys(user.skills).forEach(function(skill){ %>
						<% if(count == 0){ %>
							<% count++; %>
						<% }else{%>
								<li><%= user.skills[skill] %></li>
						<% } %>
					<% }) %>
				</ul>
			  </div>
			</div>
		  </div>
		  <div class="clear"></div>
		  <div class="paper-bottom"></div>
		</div>
	  </div>
	  <div class="wrapper-bottom"></div>
	</div>


	</body>
	</html>
